# BIOS stuff
package/
lib/
bin/
.libraries*
.dlls
.executables
.interfaces
.xdcenv.mak
package.mak
packages/ti/sdo/*/*.p*
packages/ti/sdo/ipc/family/doc-files/procNames.html
packages/ti/sdo/ipc/*.h
packages/ti/sdo/ipc/*/*.h
packages/ti/sdo/ipc/*/*/*.h
packages/ti/sdo/utils/*.h
packages/ti/ipc/family/omapl138/VirtQueue.h
packages/ti/ipc/family/tci6614/Interrupt.h
packages/ti/ipc/family/tci6614/NotifySetup.h
packages/ti/ipc/family/tci6614/VirtQueue.h
packages/ti/ipc/family/tci6638/Interrupt.h
packages/ti/ipc/family/tci6638/NotifyCircSetup.h
packages/ti/ipc/family/tci6638/VirtQueue.h
packages/ti/ipc/namesrv/NameServerRemoteRpmsg.h
packages/ti/ipc/remoteproc/Resource.h
packages/ti/ipc/transports/TransportRpmsg.h
packages/ti/ipc/transports/TransportRpmsgSetup.h
packages/ti/trace/SysMin.h
packages/ti/resources/IpcMemory.h
packages/ti/srvmgr/omx/OmxSrvMgr.h
*.tar.gz

# Linux stuff
/autom4te.cache
/config.log
/config.status
/libtool
.deps/
/Makefile
/linux/etc/Makefile
/linux/src/*/Makefile
/linux/src/*/*.lo
/linux/src/*/*.la
/linux/src/*/.libs
/linux/src/*/*.o
/linux/src/daemon/lad_*
/linux/src/tests/MessageQApp
/linux/src/tests/MessageQBench
/linux/src/tests/MessageQMulti
/linux/src/tests/NameServerApp
/linux/src/tests/nano_test_*
/linux/src/tests/ping_rpmsg
/linux/src/tests/mmrpc_test

# QNX stuff
/qnx/src/*/arm/a.g.le.v7/*.o
/qnx/src/*/arm/a.g.le.v7/*.a
/qnx/src/*/arm/a.g.le.v7/*.a.pinfo
/qnx/src/*/arm/a.le.v7/*.o
/qnx/src/*/arm/a.le.v7/*.a
/qnx/src/*/arm/a.le.v7/*.a.pinfo

/qnx/src/tests/*/arm/o.g.le.v7/*.o
/qnx/src/tests/*/arm/o.g.le.v7/*.map
/qnx/src/tests/*/arm/o.g.le.v7/*.pinfo
/qnx/src/tests/*/arm/o.g.le.v7/MessageQApp_g
/qnx/src/tests/*/arm/o.g.le.v7/MessageQBench_g
/qnx/src/tests/*/arm/o.g.le.v7/MessageQMulti_g
/qnx/src/tests/*/arm/o.g.le.v7/NameServerApp_g
/qnx/src/tests/*/arm/o.g.le.v7/mmrpc_test_g

/qnx/src/tests/*/arm/o.le.v7/*.o
/qnx/src/tests/*/arm/o.le.v7/*.map
/qnx/src/tests/*/arm/o.le.v7/*.pinfo
/qnx/src/tests/*/arm/o.le.v7/MessageQApp
/qnx/src/tests/*/arm/o.le.v7/MessageQBench
/qnx/src/tests/*/arm/o.le.v7/MessageQMulti
/qnx/src/tests/*/arm/o.le.v7/NameServerApp
/qnx/src/tests/*/arm/o.le.v7/mmrpc_test
