.qnx_internal.mk
*.map
*.o
*.so
*.a
*.pinfo
sharedmemallocator/resmgr/arm/le.v7/shmemallocator
sharedmemallocator/samples/sharedMemAllocator/usr/arm/le.v7/SharedMemoryAllocatorTestApp
ti/syslink/build/Qnx/resmgr/arm/le.v7/ipc
ti/syslink/build/Qnx/traceDaemon/arm/le.v7/ipc_trace_daemon
ti/syslink/samples/hlos/MessageQCopy/usr/arm/le.v7/mqcopytestapp
ti/syslink/samples/hlos/benchmark/usr/arm/le.v7/rpmsg-omx-benchmark
ti/syslink/samples/hlos/hwspinlock/usr/arm/le.v7/HwSpinLockTestApp
ti/syslink/samples/hlos/rpmsg-omx/usr/arm/le.v7/rpmsg-omx-test
ti/syslink/samples/hlos/stress/usr/arm/le.v7/rpmsg-omx-stress
ti/syslink/samples/hlos/deh/usr/arm/le.v7/rpmsg-omx-errors
ti/syslink/samples/hlos/ti-ipc/arm/le.v7/ti-ipc-test
ti/syslink/samples/hlos/rpmsg-rpc-stress/usr/arm/le.v7/rpmsg-rpc-stress
tiler/resmgr/tiler/arm/le.v7/tiler
tiler/usr/tests/memmgr/arm/le.v7/memmgr_test
tiler/usr/tests/tiler/arm/le.v7/tiler_test
tiler/usr/tests/tilerusr/arm/le.v7/tilerusr_test
tiler/usr/tests/utils/arm/le.v7/utils_test
*.patch
